<!-- src/app/clock/clock.component.html -->
<div class="clock-container">
  <h1>Reloj</h1>
  <button (click)="toggleClockView()">
    Cambiar a {{ showDigital ? 'Reloj Analógico' : 'Reloj Digital' }}
  </button>

  <div *ngIf="showDigital">
    <h2>Reloj Digital</h2>
    <p>{{ currentTime }}</p>
  </div>

  <div *ngIf="!showDigital">
    <h2>Reloj Analógico</h2>
    <div class="analog-clock">
      <div class="hand hour" [ngStyle]="{'transform': hourRotation}"></div>
      <div class="hand minute" [ngStyle]="{'transform': minuteRotation}"></div>
      <div class="hand second" [ngStyle]="{'transform': secondRotation}"></div>
    </div>
  </div>

  <!-- Controles para cambiar la hora -->
  <div *ngIf="isEditing">
    <h2>Cambiar Hora</h2>
    <label>
      Hora:
      <input type="range" [(ngModel)]="hourInput" min="0" max="23" (input)="onSliderChange()"/>
      <span>{{ hourInput }}</span>
    </label>
    <label>
      Minuto:
      <input type="range" [(ngModel)]="minuteInput" min="0" max="59" (input)="onSliderChange()"/>
      <span>{{ minuteInput }}</span>
    </label>
    <label>
      Segundo:
      <input type="range" [(ngModel)]="secondInput" min="0" max="59" (input)="onSliderChange()"/>
      <span>{{ secondInput }}</span>
    </label>
    <button (click)="applyTime()">Aplicar</button>
  </div>

  <!-- Botón para editar la hora -->
  <button *ngIf="!isEditing" (click)="showTimeInputForm()">Cambiar Hora</button>
</div>
