
/* Estilo para el marcador */
.marcador {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d01d1d;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(197, 35, 35, 0.4);
    width: 80%;
    max-width: 700px;
    margin: 50px auto;
    font-family: 'Digital-7', sans-serif; /* Fuente estilo digital */
  }
  
  .equipo {
    text-align: center;
    margin: 0 20px;
  }
  
  .titulo {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  .numero {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 25px rgba(255, 255, 255, 0.9); /* Efecto de resplandor */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para resaltar los números */
    padding: 15px;
    border-radius: 15px;
  }
  
  .separador {
    font-size: 120px;
    font-weight: bold;
    letter-spacing: 10px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.6), 0 0 25px rgba(255, 255, 255, 0.9);
  }
  
  .controls {
    text-align: center;
    margin-top: 20px;
  }
  
  .controls label {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .controls input {
    width: 200px;
    margin: 10px;
  }
  
  .controls button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #d01d1d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #b01717;
  }

  .area-espectadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .persona {
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    margin: 2px;
    opacity: 0.8;
  }
  
  .persona.animar {
    animation: celebrar 1s ease-in-out;
  }
  
  @keyframes celebrar {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
