<div class="marcador">
    <!-- Área de los locales (horas) -->
    <div class="equipo marcador-local">
      <span class="titulo">Locales</span>
      <div class="numero" id="horas">{{ horasFormateadas }}</div>
    </div>

    <div *ngIf="modoCelebracion" class="celebracion">¡Gooooool!</div>

  
    <!-- Separador -->
    <div class="separador">:</div>
  
    <!-- Área de los visitantes (minutos) -->
    <div class="equipo marcador-visitante">
      <span class="titulo">Visitantes</span>
      <div class="numero" id="minutos">{{ minutosFormateados }}</div>
    </div>
  </div>

  <div class="area-espectadores">
    <div *ngFor="let persona of [].constructor(cantidadDeGente)" class="persona" [ngClass]="{ 'animar': modoCelebracion }"></div>
  </div>
  
  <!-- Sliders para cambiar la hora y los minutos -->
  <div class="controls">
    <label for="hora-slider">Hora:</label>
    <input id="hora-slider" type="range" min="0" max="23" [(ngModel)]="horaSlider">
    <span>{{ horaSlider }}</span>
  
    <label for="minutos-slider">Minutos:</label>
    <input id="minutos-slider" type="range" min="0" max="59" [(ngModel)]="minutosSlider">
    <span>{{ minutosSlider }}</span>
  
    <button (click)="actualizarHoraMinutos()">Aplicar Cambios</button>
    <!-- Botón para restablecer la hora al sistema -->


    
  </div>

  
  