<div class="reloj">
    <div class="esfera hora" [ngStyle]="{ 'transform': 'scale(' + (1 + horas / 12) + ')' }">
      <span>{{ horas }}</span>
    </div>
    <div class="esfera minuto" [ngStyle]="{ 'transform': 'scale(' + (1 + minutos / 60) + ')' }">
      <span>{{ minutos }}</span>
    </div>
    <div class="esfera segundo" [ngStyle]="{ 'transform': 'scale(' + (1 + segundos / 60) + ')' }">
      <span>{{ segundos }}</span>
    </div>
  </div>
  
  <!-- Controles para cambiar la hora, minutos y segundos -->
  <div class="botones controles-reloj">
    <label>
      Hora:
      <input type="number" [(ngModel)]="inputHoras" min="0" max="23">
    </label>
    <label>
      Minutos:
      <input type="number" [(ngModel)]="inputMinutos" min="0" max="59">
    </label>
    <label>
      Segundos:
      <input type="number" [(ngModel)]="inputSegundos" min="0" max="59">
    </label>
    <button (click)="aplicarCambios()">Aplicar cambios</button>
  </div>
  