<div class="reloj-estrellas">
    <div class="constelacion horas">
      <div *ngFor="let estrella of estrellasHoras; let i = index" 
           [ngStyle]="{'transform': 'rotate(' + (i * 30) + 'deg) translateX(150px)'}" 
           class="estrella"></div>
    </div>
    <div class="constelacion minutos">
      <div *ngFor="let estrella of estrellasMinutos; let i = index" 
           [ngStyle]="{'transform': 'rotate(' + (i * 6) + 'deg) translateX(150px)'}" 
           class="estrella"></div>
    </div>
    <div class="constelacion segundos">
      <div *ngFor="let estrella of estrellasSegundos; let i = index" 
           [ngStyle]="{'transform': 'rotate(' + (i * 6) + 'deg) translateX(150px)'}" 
           class="estrella"></div>
    </div>
    
    <!-- Visualización numérica del tiempo -->
    <div class="hora-numero">
      <span>{{ horas }} : {{ minutos }} : {{ segundos }}</span>
    </div>
  </div>
  

  <div class="slider-container">
    <label for="horas">Horas: </label>
    <input type="range" id="horas" min="0" max="23" [(ngModel)]="horas" class="slider">
    <span>{{ horas }}</span>
  
    <label for="minutos">Minutos: </label>
    <input type="range" id="minutos" min="0" max="59" [(ngModel)]="minutos" class="slider">
    <span>{{ minutos }}</span>
  
    <label for="segundos">Segundos: </label>
    <input type="range" id="segundos" min="0" max="59" [(ngModel)]="segundos" class="slider">
    <span>{{ segundos }}</span>
  
    <!-- Botón de guardar cambios -->
    <button (click)="guardarCambios()">Guardar Cambios</button>
  </div>